footer{
    background-color: cadetblue;
    height: 150px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.text-footer{
    margin-top: 55px;
    color: white;
    font-size: 36px;
}