footer{
    background-color: cadetblue;
    height: 150px;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    bottom: auto;
    width: 100%;
}

footer span{
    margin-top: 55px;
    color: white;
    font-size: 36px;
}